
.container { max-width: 180rem; }

#editorComponent { height: 600px; }
#editorDiv { height: 600px; }

#preview { width: 100%; height: 600px; }

.editorFiles { list-style-type: none; padding-left: 0; margin-bottom: 0; }
.editorFiles li { font-size: 10px; display: inline-block; margin-right: 10px; }
.editorFiles li a { color: #606c76; text-decoration: none; }
.editorFiles li a:active { color: #606c76; text-decoration: none; }
.editorFiles li a:visited { color: #606c76; text-decoration: none; }
.editorFiles li a.isActive { color: red; text-decoration: none; }
