<div class="container">
  <h2 class="title">{{ title }}</h2>
  {%- if subtitle != '' -%}
    <h3 class="subtitle">{{ title }}</h2>
  {%- endif -%}
  <div class="content">
    {{content}}
  </div>
</div>
